language: python

python:
  - "3.7"
  - "3.8"

install:
  - sudo add-apt-repository universe
  - sudo add-apt-repository -y ppa:openjdk-r/ppa
  - sudo apt-get update
  - wget -O - https://debian.neo4j.com/neotechnology.gpg.key | sudo apt-key add -
  - echo 'deb https://debian.neo4j.com stable latest' | sudo tee -a /etc/apt/sources.list.d/neo4j.list
  - sudo apt-get update
  - sudo add-apt-repository universe
  - sudo apt-get install neo4j=1:4.2.3
  - pip install .[dev]
  - sudo service neo4j start
  - sudo neo4j-admin set-initial-password neo4j
  - cat /etc/neo4j/neo4j.conf
  - echo 'dbms.connector.bolt.listen_address=0.0.0.0:7687' | sudo tee -a /etc/neo4j/neo4j.conf
  - cat /etc/neo4j/neo4j.conf
  - sudo service neo4j restart
  - cypher-shell -a 0.0.0.0 -u neo4j -p neo4j
  
 
script:
  - pytest --cov=./

after_success:
  - codecov

branches:
  only: 
    - main
